*{
    padding:0px;
    margin:0px;
}

body{
    width: 100vw;height: 100vh;
    background: url("../static/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.limits-box{
    text-align: center;
    height:10vh;
    margin:2vw auto;
    font-size: 15px;
}

a{
    margin:0 1em;
    color: #52575d;
}

a:focus,a:hover{
    color: #ffd369;
    text-decoration: none;
}

.yellow{
    color: #ffd369;
}

#score{
    display: flex;
    justify-content: center;
    align-items: center;  
    font-weight: bold;
}
#highScoreBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: url("../static/background.jpg");
    border:2px solid black;

    /* vmin=min(vh,vw) */
    width:75vmin;
    height:75vmin;
    margin:auto;

    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background-image: url('../static/snake.png');
    background-size: cover;
}

.snake{
    background-color: greenyellow;
    background-size: cover;
    border-radius: 50%;
}

.food{
    background-image: url('../static/pizza.png');
    background-size: cover;
}

#gameFinishText{
    width: 100vw;
    margin-top: 2vh;

    color:red;
    font-weight: bold;
    text-align: center;
}

@media (min-width:580px) and (max-width:880px ){
    #board{
        width:50vmin;
        height:50vmin;
    }

    #score{  
        font-size: 32px;
    }
    #highScoreBox{
        font-size: 24px;
    }

    #scorebox{
        margin:auto;
    }

}
@media (min-width:410px) and (max-width:580px ){
    #board{
        width:50vmin;
        height:50vmin;
    }

    #scorebox{
        margin:auto;
    }

    #score{  
        font-size: 20px;
    }
    #highScoreBox{
        font-size: 16px;
    }

}

@media only screen and (max-width:410px ){

    #board{
        width:50vmin;
        height:50vmin;
    }

    #scorebox{
        margin:auto;
    }

    #score{  
        font-size: 16px;
    }
    #highScoreBox{
        font-size: 10px;
    }

}